.container {
    width: 100vw;
    height: calc(100vh - 64px);
}
  
.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
  
.sidenav {
    padding: 20px;
}
  

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}