<div class="sidenav-content">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon aria-label="Toggle Sidenav" (click)="drawer.toggle()">menu</mat-icon>
            </button>
            
            <span>oTiagoBrito App</span>
            <span class="spacer"></span>
            <mat-icon class="icon">favorite</mat-icon>
            <mat-icon class="icon">delete</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>
    
    <router-outlet></router-outlet>

</mat-drawer-container>


