<mat-grid-list cols="12" rowHeight="160px">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <app-pomodoro></app-pomodoro>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="1" [style.background]="'lightblue'">
        abc 1
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1" [style.background]="'lightgreen'">
        abc 2
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1" [style.background]="'lightpink'">
        abc 3
    </mat-grid-tile>
</mat-grid-list>

